<div class="home__container">
  <app-card gameCover="assets/bt-5.jpeg" gameType="Digital | PS5" gamePrice="R$ 199,99" gameLabel="DIGITAL"></app-card>
  <app-card gameCover="assets/fifa-20.jpeg" gameType="Digital | PS5" gamePrice="R$ 249,99" gameLabel="CD"></app-card>
  <app-card gameCover="assets/bt-4.jpeg" gameType="Digital | PS5" gamePrice="R$ 229,99" gameLabel="DIGITAL"></app-card>
  <app-card gameCover="assets/bt-1.jpeg" gameType="Digital | PS5" gamePrice="R$ 299,99" gameLabel="EXCLUSIVE"></app-card>
  <app-card gameCover="assets/rdr-2.jpeg" gameType="Digital | PS5" gamePrice="R$ 169,99" gameLabel="MELHOR DO ANO"></app-card>
  <app-card gameCover="assets/ac.jpeg" gameType="Digital | PS5" gamePrice="R$ 169,99" gameLabel="OFERTA"></app-card>
  <app-card gameCover="assets/forza.jpeg" gameType="Digital | PS5" gamePrice="R$ 299,99" gameLabel="NOVO"></app-card>
  <app-card gameCover="assets/RE.jpg" gameType="Digital | PS5" gamePrice="R$ 199,99" gameLabel="REMAKE"></app-card>
</div>
